@import url('https://fonts.googleapis.com/css2? family= Caveat+Brush & family= Edu+NSW+ACT+Foundation & display=swap');
@font-face{
    font-family: Dangwa;
    src: url('Dangwa.otf');
}

#esquerda{
    float: left;
    background: #66903E;
    width: 25%;
    height: 100vh;
}

#centro{
    float:left; 
    background:#FFD4BA;
    width:50%;
    height:100vh;
}

#direita{
    float: right;
    background: #EC5215;
    width: 25%;
    height: 100vh;
}

#hamburger{
    
}

input{
    background-color: #DFCDBD;
    width: 100px;
    height: 100px;
    margin-left: 9cm;
}

#texto-login{
    font-size: 100px;
    margin-left: 9cm;
}