@import url(css/menu.css);

@import url(css/login.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}

.conteudo_tabela{
    height: 400px;
    width: 400px;
    background-color: #FFD4BA;
    border-radius: 10px;
}

th, #valor_total{
    font-family: 'Caveat Brush', cursive;
    color: #472B01;
}


th{
    width: 200px;
}

.container{
    display: flex;
    margin-left: 10px;
}

#finalizar{
    align-self: flex-end;
    height: 40px;
    width: 90px;
    border-radius: 20px;
    border: 0px;
    background-color: #FF5757;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: white;
}

#valor_total{
    margin: 0.5ch 3ch;
    
}


#titulo_principal{
    margin-left: 10px;
}

